
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-close">×</span>
        <h2>Modal Header</h2> &nbsp;
      </div>
      
      <div class="modal-body">
          <div class="container">
            <form>
                <input type="text" name="title" placeholder="Title here">
                <input type="text" name="title" placeholder="Title here">
                <input type="text" name="title" placeholder="Title here">
            </form>
          </div>
      </div>
      
      <div class="modal-footer">
        <h3>Modal Footer</h3> &nbsp;
      </div>
    </div>
  
  </div>

<div class="calendar-wrapper">
        <button id="btnPrev" type="button">Prev</button>
        <button id="btnNext" type="button">Next</button>
        <h2 id="custom-month" class="custom-month"></h2>
        <h3 id="custom-year" class="custom-year"></h3>
    <div id="divCalendar"></div>
</div>
